@charset 'utf-8';
$pesticide-debug-outline: false;
$pesticide-debug-depth: false;

@import 'base';
@import 'custom';
@import 'graphy';

.cover {
  background-color: #80CBC4;
  height: 100vh;
  width: 100%;
  position: relative;

  .cover-title {
    font-size: 80px;
    font-weight: lighter;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    letter-spacing: 0.2vw;
    animation: cover-title 1.5s;
    text-shadow: 0px 0px 40px rgba(0,0,0,.2), 1px 1px 4px rgba(0,0,0,.3);
    font-family: 'Fredoka One';
    color: #fff;
  }
}

@keyframes cover-title {
  0% {
    left: 0%;
    text-shadow: 0px 0px 400px rgba(0,0,0,.2), 1px 1px 40px rgba(0,0,0,.3);
    color: #2196F3;
    opacity: 0;
  }

  30% {
    color: #2196F3;
    opacity: 0;
    left: 0%;
  }

  70% {
    opacity: 1;
    color: #E91E63;
  }

  100% {
    letter-spacing: 0.2vw;
  }
}
